/*css animations for react-router*/
.FadeIn-appear {
  /*transform: translateX(30px);*/
  opacity: 0;
}
.FadeIn-appear.FadeIn-appear-active {
  opacity: 1;
  transition: all 1.2s ease-in;
  transition-delay:0.6s
}
.FadeIn-enter {
    opacity: 0;
}
.FadeIn-enter.FadeIn-enter-active {
    opacity: 1;
    transition: all 1.2s ease-in;
    transition-delay:0.6s
}
.FadeIn-leave {
    opacity: 1.0;
}
.FadeIn-leave.FadeIn-leave-active {
    opacity: 0;
    position: fixed;
    width: 100%;
    transition: all 1.2s ease-in;
    transition-delay:0.6s;
}


.grow-appear {
  max-height: 0vh;
  overflow: hidden;
}
.grow-appear.grow-appear-active {
  max-height: 150vh;
  transition: all 1.2s ease-in;
  overflow: hidden;
}
.grow-enter {
    max-height: 0vh;
    overflow: hidden;
}
.grow-enter.grow-enter-active {
    max-height: 150vh;
    transition: all 1.2s ease-in;
    overflow: hidden;
}
.grow-leave {
    max-height: 150vh;
    overflow: hidden;
    color:green;
}
.grow-leave.grow-leave-active {
    max-height: 0vh;
    width: 100%;
    transition: all 0.6s ease-in;
    /* transition-delay: all 0.5s; */
    overflow: hidden;
    color:blue;
}
